extends layout

block content
    h1 New User
    div
        form(action='/api/cards', method='post')
            .input
                span.label Code
                br
                input(type="text", name="code")
            .input
                span.label User ID
                br
                input(type="number", name="user_id")
            .actions
                input(type='submit', value="Add")