extends layout

block content
    h1 New User
    div
        form(action='/api/users', method='post')
            .input
                span.label Name
                br
                input(type="text", name="name")
            .input
                span.label Age
                br
                input(type="number", name="age")
            .actions
                input(type='submit', value="Add")